h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    padding: 0;
  }
.hr-line-title{
    width: 80px;
    height: 4px;
    background: red;
    margin: 8px auto;
    border-radius: 2px;
  }

  hr.split-section {
    margin: 0;
      width: 100%;
      height: 8px;
      background: linear-gradient(
        to right,
        blue,
        red,
        blue
      );
    }
.image-overlay{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.3);
 }
  /* Card container */
  .itens-card{
    background: white;
    width: 30%;
    padding: 16px;
    border-radius: 16px;
  }
  .itens-card .img-item-icon{
    width: 36px;
    height: 36px;
    margin-bottom: 4px;
  }
  .itens-card .content-title{
    display: grid;
    justify-items: center;
    padding: 16px 0;
  }
  .itens-card .content-title .title{
    font-size: 24px;
  }

  .itens-card .content-itens .itens .icon-check{
    width: 32px;
    margin-right: 4px;
  }

  .itens-card .content-itens .itens{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
  }
  .itens-card .content-itens .itens span{
    line-height: 1.0;
  }
/* fim - Card container */