#specialist{
  padding: 120px 0;
  background: #d9d9d9;
}
#specialist .three-itens{
  display: flex;
  justify-content: space-around;
  gap: 16px;
}
/* 
#specialist .content-title-section{
  padding-bottom: 32px;
} */

#further-areas{
  padding: 120px 0;
  background: #fff;
}
#further-areas .three-itens{
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}
#we-are .content-title-section,
#specialist .content-title-section,
#further-areas .content-title-section,
#jobs-concluded .content-title-section
{
  padding-bottom: 32px;
}
#further-areas .content-title-section .subtitle{
  font-size: 18px;
}
#further-areas .three-itens .itens-card{
  border: 1px solid black;
  margin-top: 24px;
}



#jobs-concluded{
  position: relative;
  padding: 120px 0;
  background-image: url('../img/obras-concluidas.PNG');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
#jobs-concluded::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8); /* intensidade */
}
#jobs-concluded .content{
  position: relative;
  z-index: 2;
}
#jobs-concluded .itens,
#works-progress .itens
{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#jobs-concluded .itens .icon-check,
#works-progress .itens .icon-check
{
  width: 24px;
  margin-right: 8px;
}
#jobs-concluded .itens .desc .subtitle,
#works-progress .itens .desc .subtitle
{
  font-size: 18px;
}

#we-are .content .content-title-section .hr-line-title,
#works-progress .content .content-title .hr-line-title
{
  margin: 8px 0;
}


/* column full to image  */

@media (max-width:991px){
.full_column_image .row{
  flex-direction:column-reverse;}
}

.full_column_image .content{
  padding:80px 15px;
}

.full_column_image .image{
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  min-height:300px;
}

