#specialist{
  padding: 80px 0;
  background: #d9d9d9;
}
#specialist .three-itens{
  display: flex;
  justify-content: space-around;
  gap: 16px;
}
#specialist .content-title-section{
  padding-bottom: 32px;
}