.navbar .navbar-brand .img-navbar-brand{
    height: 46px;
}

.navbar .navbar-nav .nav-link {
    font-weight: 500;
    color: #000;
}




#specialist{
  padding: 120px 0;
  background: #d9d9d9;
}
#specialist .three-itens{
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.carousel .carousel-inner .carousel-item .img-item {
    height: 550px;
    object-fit: cover;
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 10;
}

.caption-fixed {
  /* position: fixed;  */
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.7); */
  border-radius: 10px;
  max-width: 80%;
  margin-left: 50%;
}

.caption-fixed h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.caption-fixed p {
  font-size: 1.2rem;
  opacity: 0.9;
}
/* fim carousel */

#further-areas{
  padding: 120px 0;
  background: #fff;
}
#further-areas .three-itens{
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}
#we-are .content-title-section,
#specialist .content-title-section,
#further-areas .content-title-section,
#jobs-concluded .content-title-section
{
  padding-bottom: 32px;
}
#further-areas .content-title-section .subtitle{
  font-size: 18px;
}
#further-areas .three-itens .itens-card{
  border: 1px solid black;
  margin-top: 24px;
}



#jobs-concluded{
  position: relative;
  padding: 120px 0;
  background-image: url('../img/obras-concluidas.PNG');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
#jobs-concluded::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8); 
}
#jobs-concluded .content{
  position: relative;
  z-index: 2;
}






#contact .itens{
  margin: 0!important;
}
#contact .itens,
#jobs-concluded .itens,
#works-progress .itens
{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#contact .itens .icon-check,
#jobs-concluded .itens .icon-check,
#works-progress .itens .icon-check
{
  width: 24px;
  margin-right: 8px;
}
#jobs-concluded .itens .desc .subtitle,
#works-progress .itens .desc .subtitle
{
  font-size: 18px;
}
#contact .phone-icon{
  width: 24px;
  margin-right: 8px;
}
#contact .btn-content .phone {
    font-size: 24px;
}
#contact .content .content-title-section .hr-line-title,
#we-are .content .content-title-section .hr-line-title,
#works-progress .content .content-title .hr-line-title
{
  margin: 8px 0;
}
#contact{
  background: #29358C;
}
#contact p,
#contact h2,
#contact h3,
#contact h5{
  color: white;
}
#contact .btn-content .itens{
  margin-bottom: 0;
  padding: 8px 14px;
}
#contact .content .btn-content{
  display: flex;
  justify-content: center;
}
#contact .content .btn-content .whatsapp-link{
  border: 1px solid white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#contact a.itens,
#contact .whatsapp-link{
  text-decoration: none;
}
#contact .content-text{
  margin-top: 40px;
}
#contact iframe {
  width: 100%;
  height: 100%;
}
#contact .iframe-section{
  padding: 0;
}
.full_column_image .content{
  padding:80px 15px;
}

.full_column_image .image{
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  min-height:300px;
  position: relative;
}
footer .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 15px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    /* background-color: #25d366; */
    /* border-radius: 50px; */
    /* box-shadow: 2px 2px 3px #999; */
}
/* Responsive  */
@media (min-width:1300px){
  .carousel .carousel-inner .carousel-item .img-item {
    height: 750px;
  }
  /* #we-are .full_column_image .content {
    padding: 140px 15px;
  } */
  /* #works-progress .full_column_image .content,
  #contact .full_column_image .content{
      padding: 80px 80px;
  } */
}
@media (max-width:991px){
.full_column_image .row{
  flex-direction:column-reverse;}
}
@media (max-width: 425px){
  #we-are .full_column_image .content {
        padding: 20px 15px!important;
    }
  .caption-fixed{
    margin-left: 50%;
    width: 90%;
  }
  .carousel-caption{
    bottom: -50px;
  }
  .full_column_image .content {
    padding: 60px 15px;
  }
  #specialist,
  #jobs-concluded,
  #further-areas
  {padding: 60px 0;}

  .itens-card{
    width: 100%!important;
  }

  #specialist .three-itens{
    display: grid;
  }

  .pad-resp-col{padding: 0 24px;}
  
  #we-are .hr-line-title,
  #contact .hr-line-title,
  #works-progress .hr-line-title {
      margin: 8px auto!important;
  }

  #contact .subtitle,
  #works-progress .content-text{
    text-align: left;
  }
  #contact iframe{
    height: 350px;
  }
  .order-1-contact{
    order: 1;
  }
  .order-1-contact{
    order: 2;
  }


}

